APP_NAME=Portoturismo
APP_ENV=local
APP_KEY=base64:VsV0r6QK3jmUkDza/ZRagnL3UCikzS+PD2B7zzK271U=
APP_DEBUG=true
APP_URL=http://backend-ng.test

# database settings
DATABASE_HOST=dpms-mongodb
DATABASE_PORT=27017
DATABASE_USER=tester
DATABASE_PASS=tester123
DATABASE_AUTH=admin
DATABASE_NAME=portoturismo

DB_CONNECTION=mysql

DATABASE_AUTH_HOST=127.0.0.1
DATABASE_AUTH_PORT=3306
DATABASE_AUTH_USER=Joel
DATABASE_AUTH_PASS=Joel_Crack99
DATABASE_AUTH_NAME=proyecto_turismo

